<!DOCTYPE html>
<html layout:decorate="~{thymeleaf/layout/base}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome</title>
</head>
<div id="page_content" layout:fragment="page_content">
  <div class="container-fluid">
    <div class="row py-4 px-5">
      <div class="col">
        <h1>
          ISMS
        </h1>
      </div>
    </div>
    <div class="row px-5">
      <div class="col-md-12">

      </div>
    </div>
  </div>
</div>
</html>
